<div class="main main-visible" [class.main-visible]="this.facade.isSorting$ | async">
    <!-- Grid -->
    <div class="grid">
        <!-- Grid: body -->
        <div class="grid-body">
            <!-- Grid: Header -->
            <div class="grid-header border-bottom py-4 py-lg-7">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Close Grid(mobile) -->
                        <div class="col-3 d-lg-none">
                        </div>
                        <!-- Grid logo -->
                        <div class="col-6 col-lg-6">
                            <div class="media text-center text-lg-left">
                                <div class="media-body align-self-center">
                                    <h6 class="mb-n2">Sorting Algo Visualizr</h6>
                                    <small class="text-muted">Time: {{ (service?.timer$ | async) || 0 }} Milli Seconds </small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- .row -->
                </div>
            </div>
            <!-- Grid: Header -->

            <!-- Grid: Content-->
            <div class="grid-content">
                <app-sort-visualizr></app-sort-visualizr>
                <!-- Scroll to end -->
                <div class="end"></div>
            </div>
            <!-- Grid: Content -->

            <!-- Grid: Footer -->
            <div class="grid-footer border-top py-4 py-lg-7">
                <div class="container">

                </div>
            </div>
            <!-- Grid: Footer -->
        </div>
    </div>
    <!-- Grid -->
</div>